.form-group
  = f.label :email, 'メールアドレス'
  = f.email_field :email, autofocus: true,autocomplete: 'email', class: 'form-control'
.form-group
  - if action_name == 'new'
    = f.label :password, 'パスワード'
    - if @minimum_password_length
      %em
        (#{@minimum_password_length}文字以上)
    = f.password_field :password, autocomplete: 'new-password', class: 'form-control'

- if controller_name == 'registrations'
  - if action_name == 'new'
    .form-group
      = f.label :password_confirmation, 'パスワードの確認'
      = f.password_field :password_confirmation, placeholder: '入力したパスワードを再入力してください', autocomplete: 'new-password', class: 'form-control'

  #registration__form--profile
    %h5 プロフィール情報
    .form-group
      = f.label :name, 'アカウント名'
      %em
        (4文字以上10文字以下)
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :icon, 'アイコン'
      %em
        (jpgまたはpng形式)
      = f.file_field :icon, id: 'upload-icon__form', class: 'form-control-file'
    .actions
      - if action_name == 'new'
        = f.submit '登録', id: 'signup__btn', class: 'btn btn-primary'
      - elsif action_name == 'edit'
        = f.submit '編集', id: 'signup__btn', class: 'btn btn-primary'
      - else
        = f.submit '再送信', id: 'signup__btn', class: 'btn btn-primary'

- elsif controller_name == 'sessions'
  - if devise_mapping.rememberable?
    .form-group
      = f.check_box :remember_me
      = f.label :remember_me, '入力内容を記憶する'
  .actions
    = f.submit 'サインイン', id: 'signin__btn', class: "btn btn-primary"
