- if flash[:alert]
  #freeze-alert.alert.alert-danger.alert-dismissible.fade.show
    %strong
      投稿が制限されています。
    %button.close.close-button{type: 'button', data: {dismiss: 'alert', turbolinks: false}, onClick: 'window.location.reload();'}
      %span.close-button__chara{aria: {hidden: true}}×

#application-name.row.justify-content-center.pt-3
  = image_tag 'Logos made simple2000.png', alt: 'Logo', id: 'application-name__img'

-# アーティスト検索フォーム
#artist-name-search
  %h4#artist-name-search__title.row.justify-content-center
    アーティスト名で検索
  #artist-name-search__forms.input-group.w-75.mx-auto
    %input#artist-name-search__form.form-control{type: 'text', placeholder: 'artist name search'}
  #artist-name-search__results.w-75.mx-auto

-# タグ検索ボタン
#tag-search
  %h4#tag-search__title.row.d-flex.justify-content-center
    アルバムの印象で検索
  %ul#tag-search__lists.list-inline.row.d-flex.justify-content-around.mx-auto
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'happy', id: 'tag-happy', class: 'btn tag-btn tag-search__list--btn btn-orange400 d-block mx-auto', type: 'button', value: '1', onclick: "location.href='/tags/1'"
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'anger', id: 'tag-anger', class: 'btn tag-btn tag-search__list--btn btn-red400 d-block mx-auto', type: 'button', value: '2', onclick: "location.href='/tags/2'"
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'sad', id: 'tag-sad', class: 'btn tag-btn tag-search__list--btn btn-indigo400 d-block mx-auto', type: 'button', value: '3', onclick: "location.href='/tags/3'"
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'surprise', id: 'tag-surprise', class: 'btn tag-btn tag-search__list--btn btn-yellow400 d-block mx-auto', type: 'button', value: '4', onclick: "location.href='/tags/4'"
    %li.w-100.d-block.d-lg-none
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'fear', id: 'tag-fear', class: 'btn tag-btn tag-search__list--btn btn-purple400 d-block mx-auto', type: 'button', value: '5', onclick: "location.href='/tags/5'"
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'disgust', id: 'tag-disgust', class: 'btn tag-btn tag-search__list--btn btn-grey400 d-block mx-auto', type: 'button', value: '6', onclick: "location.href='/tags/6'"
    %li.list-inline-item.tag-search__list.col.pb-3
      = button_tag 'neutral', id: 'tag-neutral', class: 'btn tag-btn tag-search__list--btn btn-white d-block mx-auto', type: 'button', value: '7', onclick: "location.href='/tags/7'"

-# タグ付けされたアルバム最新10件の表示
#latest-post
  .album-index.text-center
    %h4.album-index__title
      最近タグ付けされたアルバム
    %ul.album-index__lists.list-inline
