%nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top.w-100

  -# アプリケーション名(クリックでトップページへ)
  = link_to 'Application Name', root_path, class: 'navbar-brand justify-content-start'

  -# ユーザ管理関連のボタン群
  %button.navbar-toggler{ data: {toggle: 'collapse', target: '#user-actions'}, aria: {controls: 'user-actions', expanded: 'false', label: 'ナビゲーションの切り替え'}, type: 'button' }
    %span.navbar-toggler-icon
  #user-actions.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right.list-inline.w-100.nav-justified.justify-content-end
      - if user_signed_in?
        %li#user-sign-out.list-inline-item
          = button_to 'サインアウト', destroy_user_session_path, method: :delete, class: 'btn btn-light d-flex align-items-center'
        %li#user-mypage.list-inline-item
          = link_to 'マイページ', user_path(current_user), class: 'btn btn-info d-flex align-items-center'
      - else
        %li#user-sign-in.list-inline-item
          = link_to 'サインイン', new_user_session_path, class: 'btn btn-light d-flex align-items-center'
        %li#user-mypage.list-inline-item
          = link_to '新規登録', new_user_registration_path, class: 'btn btn-primary d-flex align-items-center'
